<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-inner">
  <!--       <h3 class="footer-title">{{.Site.Title}}</h3> -->  
          {{ if .Site.Data.social }}
            {{ partial "social.html" . }}
          {{ end }}
          {{ with .Site.Params.footer.copyright_text }}
            <div class="copyright">{{ . | safeHTML }}</div>
          {{ end }}
         {{ partial "footer-menu" . }} 
        </div>
      </div>
    </div>
  </div>
</div>